.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  width: 100%;
  height: 100vh;           
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: hidden; 
  position: fixed; 
  top: 0;
  left: 0;
  font-family: 'Arimo', sans-serif;
}

.login-card {
  text-align: center;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.mylora-logo {
  height: 80px; 
  width: auto;
  margin-bottom: 0 !important;
}

.header-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  width: 100%;        
}

.system-title {
  color: #385930;
  font-size: 80px;     
  font-weight: 700;
  margin: 0;          
  white-space: nowrap; 
  margin-bottom: -70px;
}

.mylora-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 550px;
}

.mylora-form .input-group:first-of-type {
  margin-bottom: -90px;
} 

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

.input-group label {
  font-weight: 700;
  font-size: 20px;
}

.input-group input {
  background-color: #F8F8F8;
  border: 1px solid #183112; 
  border-radius: 10px; 
  padding: 14px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.login-btn {
  background-color: #183112;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #183112;

}

.enrol-link-btn {
  background-color: white;
  color: #1b2614;
  padding: 12px;
  border: 1px solid #1b2614;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: background-color 0.2s;
}

.enrol-link-btn:hover {
  background-color: #f0f0f0;
}

.error-message {
  color: red;
  font-weight: bold;
}